.produto-thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.btn-group {
  gap: 5px;
}

.table th {
  white-space: nowrap;
}

.old-price {
  color: #ef3636;
  text-decoration: line-through;
}

