.price-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.current-price {
  font-size: 16px;
  font-weight: 700;
  color: #088178;
}

.old-price {
  font-size: 14px;
  color: #ef3636;
  text-decoration: line-through;
}

.discount-badge {
  background-color: #ef3636;
  color: #fff !important;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}
