<div>
  <section id="page-header">
    <h2>Nossos Produtos</h2>
    <p>Encontre os melhores equipamentos de surf para você</p>
  </section>

  <section id="produto1" class="section-p1">
    <div *ngIf="isLoading">Carregando produtos ...</div>
    <div *ngIf="!isLoading">
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div class="pro-container">
        <div *ngFor="let produto of produtos" class="pro">
          <img [src]="produto.imagem_url" [alt]="produto.nome">
          <div class="des">
            <span>Surf Shop</span>
            <h5>{{ produto.nome }}</h5>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>R$ {{ produto.preco }}</h4>
          </div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section id="paginacao" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
  </section>
</div>

